/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
    text-align: center;
}

/* Heading */

h1{
    margin-bottom: 30px;
}

/* Grid Container */

.container{
    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px,1fr));

    gap: 25px;
}

/* Card */

.card{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* Hover */

.card:hover{
    transform: translateY(-8px);
}

/* Text */

.card h2{
    margin-bottom: 15px;
}

.card p{
    color: #555;
}